@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----- BASE ----- */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

/* ----- SMOOTH SCROLL ----- */
/* html{
  scroll-behavior: smooth;
} */

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
  @apply bg-purple-200
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 30px;
  @apply bg-purple-500
 
}
::-webkit-scrollbar-thumb:hover{
  background: #bbb;
  @apply bg-purple-600
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    background-color: "#141414";
  }

 


  .phoneimage {
    filter: grayscale(100%);
    will-change: filter;
    transition: filter 300ms;
  }
  
  .phoneimage:hover {
    filter: grayscale(0%) drop-shadow(0 0 60px #A855F7);
  }
.textshadow{
  will-change: filter;
  transition: filter 300ms;
  filter:  drop-shadow(0 0 60px #A855F7);
}
  .textshadow:hover{
    filter:  drop-shadow(0 0 80px #A855F7);
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    transform-origin: 0%;
    @apply bg-purple-800 z-10
  }




